<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Гистограмма</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Типы магазинов', 'кг', 'шт'],
     ['магазин у дома', 58527, 12453 ],
     ['супермаркет', 71997 , 22355 ],
     ['гипермаркет', 130463 , 42269 ]
    ]);
    var options = {
     title: 'Выполнение продаж',
     hAxis: {title: 'Типы магазинов'},
     vAxis: {title: 'Количество'}
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('oil'));
    chart.draw(data, options);
   }
  </script>
 </head>
 <body>
  <div id="oil" style="width: 800px; height: 500px;"></div>
 </body>
 </html>