<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Гистограмма</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Типы магазинов', 'кг (max за 3 месяца)', 'шт (max за 3 месяца)', 'кг (на последний месяц)', 'шт (на последний месяц)'],
  {% for deliv in diff_mnt_sale %}
    ['{{ deliv.types_shops_name }}', {{ deliv.sum_mnt_weight_sale }}, {{ deliv.sum_mnt_piece_sale }}, {{ deliv.sum_current_weight_sales }}, {{ deliv.sum_current_piece_sales }}],
  {% endfor %}

    ]);
    var options = {
     title: 'Выполнение продаж',
     hAxis: {title: 'Типы магазинов'},
     vAxis: {title: 'Количество'}
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('oil'));
    chart.draw(data, options);
   }
  </script>
 </head>
 <body>
  <div id="oil" style="width: 800px; height: 500px;"></div>

 </body>
 </html>