<html>
	<head>
		{% extends "base.html" %}
	</head>
	<body>
	{% block content %}
        <table>
            <tr>
                <th>Типы магазинов</th>
                <th>Типы продуктов</th>
                <th>Максимально, кг</th>
                <th>Максимально, шт</th>
            </tr>
    	{% for capacity in max_over_shops_capacity %}
            <tr>
                <td>{{ capacity.types_shops_name }}</td>
                <td>{{ capacity.types_goods_name }}</td>
                <td>{{ capacity.max_over_weight_capacity }}</td>
                <td>{{ capacity.max_over_piece_capacity }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
	</body>
</html>