<html>
	<head>
		{% extends "base.html" %}
	</head>
	<body>
	{% block content %}
        <table>
            <tr>
                <th>Типы магазинов</th>
                <th>Месяц.год продаж</th>
                <th>Продажи, кг</th>
                <th>Продажи, шт</th>
            </tr>
    	{% for sales in top_sales %}
            <tr>
                <td>{{ sales.types_shops_name }}</td>
                <td>{{ sales.sale_date }}</td>
                <td>{{ sales.sum_mnt_weight_sale }}</td>
                <td>{{ sales.sum_mnt_piece_sale }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
	</body>
</html>